In [1]:
using Printf
using Statistics

In [2]:
s = 0
s = "Dog"
println(s)

Dog

In [3]:
function changeNum()
    x::Int8 = 10 #asserting datatype
    x = "Dog"
end

changeNum() #will throw error

LoadError: MethodError: Cannot `convert` an object of type String to an object of type Int8
Closest candidates are:
  convert(::Type{T}, ::T) where T<:Number at number.jl:6
  convert(::Type{T}, ::Number) where T<:Number at number.jl:7
  convert(::Type{T}, ::Base.TwicePrecision) where T<:Number at twiceprecision.jl:250
  ...

In [4]:
bool_var = true
bf = 1.111111111111 #14 digits
println(bf + 0.11111111111111)
bf = 1.1111111111111 #15digits
println(bf + 0.111111111111111)

#Bigfloat can be used

1.22222222222211
1.222222222222211

In [5]:
c2 = Char(120)
println(c2)

x

In [6]:
i1 = UInt8(trunc(1.56))
println(i1)

f1 = parse(Float64, "1")
println(f1)

i2 = parse(Int8, "1")
println(i2)

1
1.0
1

In [7]:
s1 = "String in quotes\n"
println(length(s1))
println(s1[1])
println(s1[end])
println(s1[1:6])

s2 = string("str1", "str2")
println(s2)
println("str1" * "str2")

17
S


String
str1str2
str1str2

In [8]:
i3 = 2
i4 = 4
println("$i3 + $i4 = $(i3 + i4)")

2 + 4 = 6

In [9]:
s3 = """
multi
line 
srting 
"""
println(s3)

multi
line
srting

In [10]:
println("abc" > "acb")
println(findfirst(isequal('b'), "abc"))
println(occursin("key", "monkey"))

false
2
true

In [11]:
age = 12
if age >= 5 && age <=6
    println("Kindergarden")

elseif age >=7 && age <= 13
    println("school")
else 
    println("none")
end

school

In [12]:
@printf("true || false = %s\n", true ||false ? "true" : "false")
@printf("!true = %s\n", !true ? "true" : "false" )

true || false = true
!true = false

In [13]:
i =1 
while i<20
    if(i % 2) == 0
        println(i)
        global i+=1
        continue 
    end
    global i+= 1 
    if i >= 10 
        break
    end
end

2
4
6
8

In [14]:
for i = 1:5
    println(i)
end

1
2
3
4
5

In [15]:
for i in [2,4,6]
    println(i)
end

2
4
6

In [16]:
for i = 1:5, j = 2:2:10
    println((i,j))
end

(1, 2)
(1, 4)
(1, 6)
(1, 8)
(1, 10)
(2, 2)
(2, 4)
(2, 6)
(2, 8)
(2, 10)
(3, 2)
(3, 4)
(3, 6)
(3, 8)
(3, 10)
(4, 2)
(4, 4)
(4, 6)
(4, 8)
(4, 10)
(5, 2)
(5, 4)
(5, 6)
(5, 8)
(5, 10)

In [17]:
a1 = zeros(Int32, 2,2) #array of zeros
a2 = Array{Int32}(undef, 5) #array of undefined integers
a3 = Float64[]
a4 = [1,2,3]
println(a1)
println(a2)

println(a4[1])
println(a4[end])
println(5 in a4)
println(findfirst(isequal(2), a4))

f(a) = (a >= 2) ? true : false
println(findall(f, a4))
println(count(f, a4))

Int32[0 0; 0 0]
Int32[243497816, 0, 243216192, 0, 244084712]
1
3
false
2
[2, 3]
2

In [18]:
a5 = [1,2,3,4,5]
println(size(a5))
println(length(a5))
println(sum(a5))
splice!(a5, 2:1, [8,9])
println(a5)
splice!(a5, 2:3)
println(a5)
println(maximum(a5))
println(minimum(a5))
println(a5*2)

(5,)
5
15
[1, 8, 9, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
5
1
[2, 4, 6, 8, 10]

In [19]:
a6 = [1, 3.14, "Hello"]
a7 = [sin, cos, tan]
for i in a7
    println(i(0))
end

0.0
1.0
0.0

In [20]:
a8 = [1 2 3; 4 5 6]
for n = 1:2, m = 1:3
    @printf("%d ", a8[n, m])
end

1 2 3 4 5 6

In [21]:
println(a8[ :,2])
println(a8[2, :])
a9 = collect(1:5)
a10 = collect(2:2:10)
a11 = collect(4:-1:1)
println(a9)
println(a10)
println(a11)

[2, 5]
[4, 5, 6]
[1, 2, 3, 4, 5]
[2, 4, 6, 8, 10]
[4, 3, 2, 1]

In [22]:
a12 = [n^2 for n in 1:5]
println(a12)
push!(a12,36)
println(a12)

[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25, 36]

In [23]:
a13 = [n * m for n in 1:5, m in 1:5]
println(a13)

[1 2 3 4 5; 2 4 6 8 10; 3 6 9 12 15; 4 8 12 16 20; 5 10 15 20 25]

In [24]:
a14 = rand(0:9, 5, 5)
for n = 1:5
    for m = 1:5
        print(a14[n,m])
    end
    println()
end

46929
37209
75024
76246
55417

In [25]:
t1 = (1,2,3,4)
println(t1)
println(t1[1])
for i in t1
    println(i)
end

t2 = ((1,2), (3,4))
println(t2[1][1])

t3 = (n1 = ("abc", 50), n2 = ("xyz", 100))
println(t3.n2)

(1, 2, 3, 4)
1
1
2
3
4
1
("xyz", 100)

In [26]:
d1 = Dict("pi" => 3.14, "e"=> 2.718)
println(d1["pi"])
d1["golden"] = 1.618
delete!(d1, "pi")
println(haskey(d1, "pi"))
println(in("pi" => 3.14))

println(keys(d1))
println(values(d1))

for kv in d1
    println(kv)
end

for(key, value) in d1
    println(key, " : ", value)
end

3.14
false
Base.Fix2{typeof(in), Pair{String, Float64}}(in, "pi" => 3.14)
["golden", "e"]
[1.618, 2.718]
"golden" => 1.618
"e" => 2.718
golden : 1.618
e : 2.718

In [27]:
set1 = Set(["a", "b", "a"])
println(set1)

push!(set1, "c")
println(in("d", set1))
set2 = Set(["e", "f", "a"])
println(union(set1, set2))
println(intersect(set1,set2))
println(setdiff(set1,set2))

Set(["b", "a"])
false
Set(["f", "c", "e", "b", "a"])
Set(["a"])
Set(["c", "b"])

In [28]:
getSum(x,y) = x+y
x, y = 1,2

println(getSum(x,y))

3

In [29]:
v1 = 5
function changeV1(v1)
    v1 = 10
end
changeV1(v1)
println(v1)

function changeV1()
    global v1 = 10
end
changeV1()
println(v1)

5
10

In [30]:
function next2(val)
    return (val +1, val+2)
end
println(next2(4))

(5, 6)

In [31]:
function makeMultiplier(num)
    return function(x) return x*num end
end

mult3 = makeMultiplier(3)
println(mult3(6))

18

In [32]:
function getSum2(num1::Number, num2::Number)
    return num1+num2
end

function getSum2(num1::String, num2::String)
    return parse(Int32, num1) + parse(Int32, num2)
end

println("5 + 4 = ", getSum2(5,4))
println("5 + 4 = ", getSum2("5","4"))

5 + 4 = 9
5 + 4 = 9

In [33]:
function getSum3(args...)
    sum = 0
    for a in args
        sum += a
    end
    println(sum)
end

getSum3(1,2,3,4)

10

In [34]:
v2 = map(x -> x*x, [1,2,3])
println(v2)

v3 = map((x,y) -> x+y, [1,2], [3,4])
println(v3)

[1, 4, 9]
[4, 6]

In [35]:
v4 = reduce(+, 1:100)
println(v4)

sentence = "this is a string"
sArray = split(sentence)
longest = reduce((x,y) -> length(x) > length(y) ? x : y, sArray)
println(longest)

5050
string

In [36]:
@printf("5 + 4 = %d\n", (5 + 4))
@printf("5 - 4 = %d\n", (5 - 4))
@printf("5 * 4 = %d\n", (5 * 4))
@printf("5 / 4 = %d\n", (5 / 4))
println("5 % 4 = ", (5 % 4))
@printf("5 ^ 4 = %d\n", (5 ^ 4))
 
@printf("round(3.5) = %d\n", round(3.5))
@printf("floor(3.5) = %d\n", floor(3.5))
@printf("ceil(3.5) = %d\n", round(3.5))
@printf("abs(-3.5) = %d\n", abs(-3.5))
@printf("sqrt(100) = %d\n", sqrt(100))
@printf("cbrt(100) = %d\n", cbrt(100))
@printf("hypot(90,90) = %d\n", hypot(90,90))
@printf("exp(2) = %d\n", exp(2))
@printf("log(100) = %d\n", log(100))
@printf("log2(100) = %d\n", log2(100))
@printf("log10(100) = %d\n", log10(100))
 
# Trig Functions : sin, cos, tan, cot, sec, csc
# sinh, cosh, tanh, coth, sech, csch
# asin, acos, atan, acot, asec, acsc
# asinh, acosh, atanh, acoth, asech, acsch
# sinc, cosc
 
# Shortcuts available += -= *= /= ^=
 
# You can imply multiplication without *
x = 5
println(2x)
 
# Dot operators perform operations on arrays
a13 = [1,2,3]
println(a13 .* 3)

5 + 4 = 9
5 - 4 = 1
5 * 4 = 20
5 / 4 = 1
5 % 4 = 1
5 ^ 4 = 625
round(3.5) = 4
floor(3.5) = 3
ceil(3.5) = 4
abs(-3.5) = 4
sqrt(100) = 10
cbrt(100) = 5
hypot(90,90) = 127
exp(2) = 7
log(100) = 5
log2(100) = 7
log10(100) = 2
10
[3, 6, 9]

In [37]:
@enum Colour begin
    red = 1
    blue = 2
    green = 3
end

favColour = green::Colour
println(favColour)

green

In [38]:
:Derek
println(:Derek)

d2 = Dict(:pi => 3.14, :e => 2.718)
println(d2[:pi])

Derek
3.14

In [39]:
struct Customer
    name::String
    balence::Float32
    id::Int
end

cust = Customer("Sarthak Agarwal", 100.50, 123)
println(cust.name)

cust.name = "S Agarwal" #throws error

Sarthak Agarwal

LoadError: setfield! immutable struct of type Customer cannot be changed

In [40]:
mutable struct Customer1
    name::String
    balence::Float32
    id::Int
end

cust = Customer1("Sarthak Agarwal", 100.50, 123)
println(cust.name)

cust.name = "S Agarwal" #throws error

Sarthak Agarwal

"S Agarwal"

In [41]:
abstract type Animal end

struct Dog <: Animal
    name :: String
    bark :: String
end

struct Cat <: Animal
    name :: String
    meow :: String
end

dog = Dog("dog", "Ruff")
cat = Cat("cat", "Meow")

function makeSound(animal::Dog)
    println("$(animal.name) says $(animal.bark)")
end


function makeSound(animal::Cat)
    println("$(animal.name) says $(animal.meow)")
end

makeSound(dog)
makeSound(cat)

dog says Ruff
cat says Meow

In [42]:
print("Enter an number ")
num1 = chomp(readline())
print("Enter a number ")
num2 = chomp(readline())

try 
    val = (parse(Int32, num1)) / (parse(Int32, num2))
    if(val == Inf)
        error("can't divide bt 0")
    else
        println(val)
    end
catch e
    println(e)
end

Enter an number stdin> 10
Enter a number stdin> 0
ErrorException("can't divide bt 0")

In [43]:
open("random2.txt", "w") do file
    write(file, "Random Text\nSecond Line\nExtra Line")
end

open("random2.txt") do file
    data = read(file, String)
    println(data)
end

open("random2.txt") do file
    for line in eachline(file)
        println(line)
    end
end

Random Text
Second Line
Extra Line
Random Text
Second Line
Extra Line

In [44]:
macro doMore(n, exp)
    quote
        for i = 1:$(esc(n))
            $(esc(exp))
        end
    end
end

@doMore(4,println("Hello"))

Hello
Hello
Hello
Hello

In [45]:
macro doWhile(exp)
    @assert exp.head == :while
    esc(quote
            $(exp.args[2])
            $exp
        end)
end
z = 0
@doWhile while z <10
    global z+=1
    println(z)
end

1
2
3
4
5
6
7
8
9
10